* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  font-family: inherit;
}

.heart {
  position: fixed;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
  font-size: 2rem;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
